section.experience {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

section.experience article {
    width: 100%;
    color: white;
    text-shadow: 2px 2px 1px rgba(41, 145, 180, 0.845);
    font-size: 1rem;
    padding: 10px 0;
}

section.experience article:nth-child(even) {
    margin-left: 10px;
}

@media screen and (min-width: 920px) {
    section.experience article {
        font-size: 1.2rem;
    }
}